@model IEnumerable<webproje.Models.Products>
    @{

        ViewBag.Title = "İstanbul Kültür Üniversitesi";

    }
    @section styles{
        <link rel="Stylesheet" href="@Href("~/Content/1.css")" />
    }

    <div class="products">

        @foreach (var item in Model) {


        <div class="product">
            <div class="product_img"><img src="~/Content/assets/@item.Image" alt="" height="auto" width="250"></div>

            <div class="product_name">
                <p>
                    @Html.DisplayFor(modelItem => item.Name)
                </p>
            </div>
            <div class="product_details">
                <p>
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
            </div>
            <div class="product_purchase">
                <a href="@Url.Action("Purchase", "Products", new {id = item.Id})">Purchase: @Html.DisplayFor(modelItem => item.Price)$</a>
            </div>
        </div>
                        }
    </div>
